body {
  background-color: rgb(248, 248, 246);
  font-size: 50px;
  color: aliceblue;
}

img{
  border: solid 10px rgba(238, 230, 68, 0.333);
  image-orientation: flip;
  border-radius: 50%;
}
.banner {
  width: 100%;
  overflow: hidden;
  background-color: #222;
  padding: 10px 0;
}

.texto {
  color: red;
  white-space: nowrap;
  display: inline-block;
  animation: moverTexto 10s linear infinite;
}

@keyframes moverTexto {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
